<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>AutoServlet</servlet-name>
  	<display-name>AutoServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.AutoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DopTovariServlet</servlet-name>
  	<display-name>DopTovariServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.DopTovariServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DvigatelServlet</servlet-name>
  	<display-name>DvigatelServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.DvigatelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ElektrikaServlet</servlet-name>
  	<display-name>ElektrikaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.ElektrikaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JurnalServlet</servlet-name>
  	<display-name>JurnalServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.JurnalServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KolesaDiskiServlet</servlet-name>
  	<display-name>KolesaDiskiServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.KolesaDiskiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KorpusaPatrubkiServlet</servlet-name>
  	<display-name>KorpusaPatrubkiServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.KorpusaPatrubkiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KppServlet</servlet-name>
  	<display-name>KppServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.KppServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>KuzovnieDetaliServlet</servlet-name>
  	<display-name>KuzovnieDetaliServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.KuzovnieDetaliServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OsnaschKuzovaServlet</servlet-name>
  	<display-name>OsnaschKuzovaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.OsnaschKuzovaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OsvetPriboryServlet</servlet-name>
  	<display-name>OsvetPriboryServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.OsvetPriboryServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OtoplenieKondeiServlet</servlet-name>
  	<display-name>OtoplenieKondeiServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.OtoplenieKondeiServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PodveskaServlet</servlet-name>
  	<display-name>PodveskaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.PodveskaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PolzovatelServlet</servlet-name>
  	<display-name>PolzovatelServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.PolzovatelServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RulevoeUpravlenieServlet</servlet-name>
  	<display-name>RulevoeUpravlenieServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.RulevoeUpravlenieServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SistemaOhlajdeniyaServlet</servlet-name>
  	<display-name>SistemaOhlajdeniyaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.SistemaOhlajdeniyaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ToplivnayaSistemaServlet</servlet-name>
  	<display-name>ToplivnayaSistemaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.ToplivnayaSistemaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TormozaServlet</servlet-name>
  	<display-name>TormozaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.TormozaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TransmissiyaServlet</servlet-name>
  	<display-name>TransmissiyaServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.TransmissiyaServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TypeAutoServlet</servlet-name>
  	<display-name>TypeAutoServlet</display-name>
  	<description></description>
  	<servlet-class>controllers.TypeAutoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AutoServlet</servlet-name>
  	<url-pattern>/Auto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DopTovariServlet</servlet-name>
  	<url-pattern>/DopTovari</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DvigatelServlet</servlet-name>
  	<url-pattern>/Dvigatel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ElektrikaServlet</servlet-name>
  	<url-pattern>/Elektrika</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JurnalServlet</servlet-name>
  	<url-pattern>/Jurnal</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KolesaDiskiServlet</servlet-name>
  	<url-pattern>/KolesaDiski</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KorpusaPatrubkiServlet</servlet-name>
  	<url-pattern>/KorpusaPatrubki</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KppServlet</servlet-name>
  	<url-pattern>/Kpp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>KuzovnieDetaliServlet</servlet-name>
  	<url-pattern>/KuzovnieDetali</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OsnaschKuzovaServlet</servlet-name>
  	<url-pattern>/OsnaschKuzova</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OsvetPriboryServlet</servlet-name>
  	<url-pattern>/OsvetPribory</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OtoplenieKondeiServlet</servlet-name>
  	<url-pattern>/OtoplenieKondei</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PodveskaServlet</servlet-name>
  	<url-pattern>/Podveska</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PolzovatelServlet</servlet-name>
  	<url-pattern>/Polzovatel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RulevoeUpravlenieServlet</servlet-name>
  	<url-pattern>/RulevoeUpravlenie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SistemaOhlajdeniyaServlet</servlet-name>
  	<url-pattern>/SistemaOhlajdeniya</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ToplivnayaSistemaServlet</servlet-name>
  	<url-pattern>/ToplivnayaSistema</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TormozaServlet</servlet-name>
  	<url-pattern>/Tormoza</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TransmissiyaServlet</servlet-name>
  	<url-pattern>/Transmissiya</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TypeAutoServlet</servlet-name>
  	<url-pattern>/TypeAuto</url-pattern>
  </servlet-mapping>
  
</web-app>
